<head>
  <title>puns</title>
  <script type="text/javascript" async src="//platform.twitter.com/widgets.js"></script>
  <script src="//use.typekit.net/uxz3lii.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>


<template name='home'>
<div class='content'>
	<h1 class='header_text'>Pun me, yo</h1>
  
  <div class='display'>
    {{ > pun_display}}
    <a class="button new-pun" href=''>Gimme a pun<img class='twitter-logo' src="/images/TwitterLogo_white.png"></a>
    <a class='button tweet-button' href="https://twitter.com/intent/tweet?text=hello%20world&via=twitterdev"><img class='twitter-logo' src="/images/TwitterLogo_white.png"></a>
  </div>  
</div> 
</template>
